<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MetaModel -->
      <package
            uri="http://wwww.sofrecom.codegen"
            class="codegen.CodegenPackage"
            genModel="model/MetaModel.genmodel"/>
   </extension>

</plugin>
